{% block head %}
    {% include 'head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <title>Add - Financial Adviser</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/money.png')}}">
{% endblock %}

{% block body %}
    {% include 'popups.html' %}

    <div class="container center">
        {% include 'header.html' %}

        <div class="form-box shadow">
            <div class="form-box__header">
                <h2>Add To Your Portoflio</h2>

                <img 
                    src="{{ url_for('static', filename='placeholder/add-portfolio.jpg')}}" 
                    alt=""
                >

                <p>
                    Here you can add new shares of stocks into your portfolio 
                    and start tracking them.
                </p>

                <div class="form-box__header__steps">
                    <h3>Steps:</h3>

                    <ol>
                        <li>
                            Add the stock's ticker symbol in the ticker input 
                            box
                        </li>

                        <li>Then add the amount of shares you have bought</li>

                        <li>
                            Finally. Click the "Add Shares" button to add the 
                            shares
                        </li>
                    </ol>
                </div>
            </div>

            <form action="{{ url_for('addPortfolioFunc') }}" method="POST">
                <div class="form-box__inputs">
                    <div>
                        <label for="ticker">Ticker</label>
                        <input type="text" name="ticker" id="ticker">
                
                        <label for="amount">Amount</label>
                        <input type="number" name="amount" id="amount">
                    </div>

                    <div>
                        <!-- <input type="submit" value="Add Shares">
                         -->
                         <button>
                            &#128221;
                            <p>Add Shares</p>
                            <!-- <i class="fa-solid fa-paper-plane fa-lg"></i> -->
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/popups.js')}}"></script>
{% endblock %}