{% block head %}
    {% include 'head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <title>Plot - Financial Adviser</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icons/chart.png')}}">
{% endblock %}

{% block body %}
    {% include 'popups.html' %}

    <div class="container center">
        {% include 'header.html' %}

        <div class="form-box shadow">
            <div class="form-box__header">
                <h2>Plot Your Shares</h2>

                <img 
                    src="{{ url_for('static', filename='placeholder/plot-chart.jpg')}}" 
                    alt=""
                >

                <p>
                    Here you can plot shares of stocks from your portfolio.
                </p>

                <div class="form-box__header__steps">
                    <h3>Steps:</h3>

                    <ol>
                        <li>
                            Choose the stock's ticker symbol in the ticker 
                            dropdown menu
                        </li>

                        <li>
                            Then choose the starting date that you want to  
                            start plotting from
                        </li>

                        <li>
                            Finally. Click the "Start Plotting" button to plot 
                            the shares
                        </li>
                    </ol>
                </div>
            </div>

            <form action="{{ url_for('plotChartFunc') }}" method="POST">
                <div class="form-box__inputs">
                    <div>
                        <label for="ticker">Ticker</label>
                        <label class="select-ticker">
                            <select name="ticker" id="ticker">
                                {% for key in keys %}
                                    <option value="{{ key }}">{{ key }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    
                        <label for="amount">Start Date</label>
                        <input 
                            type="date" 
                            name="start-date" 
                            id="start-date"
                            max="{{ dateNow }}"
                        >
                    </div>

                    <div>
                        <!-- <input type="submit" value="Add Shares">
                        -->
                        <button>
                            &#128221;
                            <p>Start Plotting</p>
                            <!-- <i class="fa-solid fa-paper-plane fa-lg"></i> -->
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div> 

    <script src="{{ url_for('static', filename='js/popups.js')}}"></script>
{% endblock %}